
<div class="container">
  <h5>Check weather by location (Hanafi)</h5>
  <div class="row py-5">
    <div class="search-location">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    <div class="map py-4">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
      </agm-map>
    </div>
    
    <div class="pb-4">
      <h5>Your location</h5>
      <hr>
      <div>Address: {{address}}</div>
      <div>Latitude: {{latitude}}</div>
      <div>Longitude: {{longitude}}</div>
    </div>

    <div class="">
      <h5>Your weather</h5>
      <hr>
      
      <div class="d-flex justify-content-between">
        <mat-card class="mat-elevation-z5">
          <mat-card-header>
            <mat-card-title>{{currentWeather.name}} weather</mat-card-title>
            <mat-card-subtitle>{{currentWeather.dt * 1000 |  date:'d-MMM-yyyy HH:mm' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="flex-row">
              <div class="temp">
                <span>17 C</span>
                <span>Feels like </span>
                <span>12 C</span>
              </div>
              <div class="outlook">
                <div *ngFor="let weather of currentWeather.weather">
                  
                  <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" />
                  <span>{{weather.description}}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
    </div>


  </div>
</div>

