@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

agm-map{
    height: 300px
}
> .temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 30px;
}

.image {
    height: 80px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	> div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
	}

	> .outlook {
			color: black;
			background: rgba(0,0,0,0.1);
			text-align: center;;
		}

	> .temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
}